@font-face {
  font-family: japan;
  src: url(./3856NeueMachina.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
}
.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
nav h1 {
  font-size: 2.5vw;
}
nav h1 i {
  rotate: 45deg;
  display: inline-block;
}
nav h4 {
  font-size: 1.5vw;
  font-weight: 500;
}
nav button {
  padding: 10px 20px;
  font-size: 1.3vw;
  background-color: transparent;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid #000;
}

.center {
  /* background-color: red; */
  padding: 50px;
  height: 80%;
  width: 100%;
  display: flex;
}
.center-part1 {
  height: 100%;
  width: 40%;
}
.center-part2 {
  height: 100%;
  width: 60%;
}

.center-part1 h1 {
  font-size: 4vw;
  font-family: japan;
  background-color: red;
}
